{% extends 'base.twig' %}

{% block content %}
<!---//End-banner---->
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="content-main">
                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>{{ news.titre }}</h3>
                        <h4>{{ news.dateAjout|date('d/m/y') }}, Postée par: <a href="#">{{ news.auteur }}</a></h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-grid-single">
                        <div id="contenu-article" >
                            {{ news.contenu|raw }}
                        </div>

                        <div class="content-form">
                            <h3>Laisser un commentaire</h3>
                            <form>
                                <input type="text" placeholder="Nom" required/>
                                <textarea placeholder="Message"></textarea>
                                <input type="submit" value="Valider"/>
                            </form>
                        </div>

                        <div class="comments">
                            <h3>Commentaires</h3>

                            {% for comment in comments %}
                                <div class="comment-grid comment-grid-1">
                                    <img src="{{ link('front/images/pic.png') }}" alt="image_profil"/>
                                    <div class="comment-info">
                                        <h4>{{ comment.auteur }}</h4>
                                        <p>{{ comment.contenu }}</p>
                                        <h5>{{ comment.date|date('d/m/y à h:m') }}</h5>
                                        <a >Répondre</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% endblock %}
