{% extends 'base.twig' %}

{% block content %}
<!---//End-banner---->
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="content-main">
                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>{{ news.titre }}</h3>
                        <h4>{{ news.dateAjout|date('d/m/Y à H:i:s') }}, Posté par: <a href="#">{{ news.auteur }}</a></h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-grid-single">
                        <div id="contenu-article" >
                            {{ news.contenu|raw }}
                        </div>

                        <div class="content-form" id="formulaire" >
                            <h3>Laisser un commentaire</h3>
                            <div id="emplacement-reponse"></div>
                            {% if flash is defined and flash is not null %}
                                <div class="alert alert-success">{{ flash }}</div>
                            {% endif %}
                            {{ form|raw }}
                            {% if errors is defined and errors is not empty %}
                                <div class="alert alert-danger" >
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div >
                            {% endif %}
                        </div>

                        <div class="comments">
                            <h3>Commentaires</h3>

                            {% for comment in comments %}
                                <div class="comment-grid comment-grid-{{ comment[1] + 2 }}">
                                    <img src="{{ link('front/images/pic.png') }}" alt="image_profil"/>
                                    <div class="comment-info">
                                        <h4>{{ comment[0].auteur }}</h4>
                                        <p>{% if comment[0].notifie == 1 %}Le contenu du commentaire a été masqué{% else %}{{ comment[0].contenu|raw }}{% endif %}</p>
                                        <h5>{{ comment[0].date|date('d/m/y à H:i:s') }}</h5>
                                        <a href="#formulaire" class="repondre" data-auteur="{{ comment[0].auteur }}" data-response-to="{{ comment[0].id }}">Répondre</a>
                                        <a {% if comment[0].notifie != 1 %}href="{{ link("commentaire-"~comment[0].id~"/notifie") }}"{% endif %} class="notifie {% if comment[0].notifie == 1 %}notifie-actif{% endif %}" data-id="{{ comment[0].id }}">{% if comment[0].notifie == 1 %}Ce commentaire a été signalé{% else %}Signaler{% endif %}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script >
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        $('.repondre').click(function(){
            $('#emplacement-reponse').html('<div class="alert alert-warning alert-dismissible fade in" id="alert__reponse" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>Répondre à <strong> ' + $(this).data('auteur') + '</strong> </div>');

            $('#response-to').val($(this).data('response-to'));


            $('#alert__reponse').alert();
            $('#alert__reponse').on('closed.bs.alert', function () {
                $('#response-to').val(null);
            })
        })
    </script >

{% endblock %}
