{% extends '@admin/layout.twig' %}

{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ link('back/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/buttons.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/responsive.bootstrap.min.css') }}" rel="stylesheet" >
{% endblock %}

{% block contenu %}

<!-- page content -->
<div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if flash is defined and flash is not null %}
                    <div class="alert alert-success">{{ flash }}</div>
                {% endif %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des commentaires</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Voici la liste complète des commentaires présents sur le site :
                        </p>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th >ID</th>
                                <th>Auteur</th>
                                <th>Contenu</th>
                                <th>Article</th>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Signalé</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for commentaire in listeCommentaires %}
                            <tr role="row" class="{% if loop.inder % 2 == 1 %}odd{% else %}even{% endif %}" >
                                <td tabindex="0" class="sorting_1" > {{ commentaire.id }}</td >
                                <td>{{ commentaire.auteur }}</td>
                                <td>{{ commentaire.contenu }}</td>
                                <td><a href="{{ link('news-'~commentaire.news) }}" >{{ commentaire.news }}</a ></td>
                                <td>{{ commentaire.date|date('d/m/y à H:i:s') }}</td>
                                <td><a href="{{ link('admin/commentaires/modifier-' ~ commentaire.id) }}" class="btn btn-sm btn-primary">Modifier</a>
                                    <button data-titre="{{ commentaire.id }}" data-href="{{ link('admin/commentaires/supprimer-' ~ commentaire.id) }}" class="btn btn-sm btn-danger bouton-supprimer" >Supprimer</button ></td>
                                <td>
                                    {% if commentaire.notifie == 1 %}
                                        <span class="fa fa-bell red"></span>
                                    {% else %}
                                        <span class="fa fa-check green"> OK</span>
                                    {% endif %}
                                   </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>
</div>

    <!-- Modal de confirmation -->
    <div class="modal fade" id="modal-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header" >
                    Confirmation de la suppression
                </div >
                <div class="modal-body" >
                    Êtes vous sur de vouloir supprimer le commentaire "<span id="modal-confirmation__titre" ></span >" ?

                </div >

                <div class="modal-footer" >
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Annuler</button >
                    <a href="#" id="modal-confirmation__supprimer" class="btn btn-danger" >Supprimer</a >
                </div >
            </div >
        </div >
    </div >
<!-- /page content -->
{% endblock %}

{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ link('back/js/jquery.dataTables.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.bootstrap.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.buttons.min.js') }}" ></script >
    <script src="{{ link('back/js/buttons.bootstrap.min.js') }}" ></script >
    <script src="{{ link('back/js/buttons.html5.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.fixedHeader.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.keyTable.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.responsive.min.js') }}" ></script >
    <script src="{{ link('back/js/responsive.bootstrap.js') }}" ></script >


    <!-- Datatables -->
    <script >
        $(document).ready(function () {

            $('#datatable-responsive').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                }
            });

//        Modal de confirmation

            $('.bouton-supprimer').click(function (e) {
                $('#modal-confirmation').modal('show');

                $('#modal-confirmation__titre').text($(this).data('titre'));
                $('#modal-confirmation__supprimer').attr('href', $(this).data('href') );

            });


        });
    </script >
{% endblock %}

