{% extends '@admin/layout.twig' %}

{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ link('back/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/buttons.bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ link('back/css/responsive.bootstrap.min.css') }}" rel="stylesheet" >
{% endblock %}

{% block contenu %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Articles</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des articles</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Voici la liste complète des articles présents sur le site (publié ou non) :
                        </p>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th >ID</th>
                                <th>Auteur</th>
                                <th>Contenu</th>
                                <th>Article</th>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Signalé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" >
                                <td tabindex="0" class="sorting_1" > 1</td >
                                <td>Nixon</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta distinctio dolor, eum harum impedit laudantium minima nisi numquam odit officia praesentium quas qui quia sunt ullam voluptate voluptatem? Ad animi asperiores autem, consequuntur dolorum error incidunt laborum modi mollitia officiis placeat porro quae, quaerat quas qui quibusdam saepe sint sunt! Ad architecto aut deleniti dolorem, expedita magni quibusdam vero? Ad architecto aspernatur autem consectetur, culpa cum dignissimos dolore dolorem dolorum eaque error esse eum ex explicabo facere fugit illum in labore magnam modi molestias mollitia nesciunt nobis odit pariatur perspiciatis quasi quisquam repellendus rerum temporibus totam ut voluptatibus.</td>
                                <td>Nom de l'article</td>
                                <td>16/08/17 - 18h44</td>
                                <td><button class="btn btn-sm btn-primary">Modifier</button><button class="btn btn-sm btn-danger">Supprimer</button></td>
                                <td><span class="fa fa-check green"></span></td>
                            </tr>
                            <tr role="row" class="even" >
                                <td tabindex="0" class="sorting_1" > 2</td >
                                <td>Bartien</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta distinctio dolor, eum harum impedit laudantium minima nisi numquam odit officia praesentium quas qui quia sunt ullam voluptate voluptatem? Ad animi asperiores autem, consequuntur dolorum error incidunt laborum modi mollitia officiis placeat porro quae, quaerat quas qui quibusdam saepe sint sunt! Ad architecto aut deleniti dolorem, expedita magni quibusdam vero? Ad architecto aspernatur autem consectetur, culpa cum dignissimos dolore dolorem dolorum eaque error esse eum ex explicabo facere fugit illum in labore magnam modi molestias mollitia nesciunt nobis odit pariatur perspiciatis quasi quisquam repellendus rerum temporibus totam ut voluptatibus.</td>
                                <td>Nom de l'article</td>
                                <td>16/08/17 - 18h44</td>
                                <td><button class="btn btn-sm btn-primary">Modifier</button><button class="btn btn-sm btn-danger">Supprimer</button></td>
                                <td><span class="fa fa-bell red"></span></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}

{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ link('back/js/jquery.dataTables.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.bootstrap.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.buttons.min.js') }}" ></script >
    <script src="{{ link('back/js/buttons.bootstrap.min.js') }}" ></script >
    <script src="{{ link('back/js/buttons.html5.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.fixedHeader.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.keyTable.min.js') }}" ></script >
    <script src="{{ link('back/js/dataTables.responsive.min.js') }}" ></script >
    <script src="{{ link('back/js/responsive.bootstrap.js') }}" ></script >


    <!-- Datatables -->
    <script >
        $(document).ready(function () {

            $('#datatable-responsive').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                }
            });

//        Modal de confirmation

            $('.form-supprimer').submit(function (e) {
                e.preventDefault();

                $('#modal-confirmation__titre').text($(this).data('titre'));

                $('#modal-confirmation__supprimer').click(function () {
                    alert('submitting');
                    $(this).submit();
                });
            });


        });
    </script >
{% endblock %}

